.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  /* align-items: flex-end; */
  /* align-content: flex-start; */
}

.item {
  /* order: 2; */
  flex: 1 1 100px;
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  text-align: center;
  /* align-self: flex-start; */
}

/* Contoh responsif */
.container-responsive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-responsive .item {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
}

/* Contoh urutan */
.container-order {
  width: 5px;
  display: flex;
}

.first {
  order: 1;
  background: #b3e5fc;
  padding: 10px;
  margin: 5px;
  /* flex-shrink: 1; */
}
.second {
  order: 2;
  background: #81d4fa;
  padding: 10px;
  margin: 5px;
  /* flex-shrink: 5; */
}
.third {
  order: 3;
  background: #4fc3f7;
  padding: 10px;
  margin: 5px;
  /* flex-grow: 1; */
} 